@tailwind base;
@tailwind components;
@tailwind utilities;



/*constants*/

.red_text {
  color: #880808;
}

.red_bg {
  background-color: #880808;
}


.red_text_300{
  color: #D22B2B;
}

.red_bg_300{
 background-color: #D22B2B;
}

h2 {
  font-size: 2rem;
  margin-left: 4rem;
  color: #D22B2B;
  font-family: 'lato', sans-serif;
  font-weight: 700;
}


/*Navbar*/
/* globals.css */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2% 4%;
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #880808;
  gap: 3px;
  text-transform: capitalize;
}


@media (min-width: 1024px) {
  .nav-title {
    font-size: 3rem;
  }
}

.menu-icon {
  display: block;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .menu-icon {
    display: none;
  }
}

.nav-links {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  display: none;
}

.nav-links.show {
  display: block;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1024px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}

.nav-item {
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  .nav-item {
    margin-bottom: 0;
  }
}

.nav-link {
  color: #880808;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  color: rgba(243, 66, 66, 0.2);
}

.nav-link.active {
  background-color: #880808;
  color: #fff;
  padding: 9px;
  border-radius: 4px;
}

.loader-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 52;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #880808;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/**************Home-Hero*****************/


.slide-img{
  transition: translate 300ms ease-in-out;
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: cover;
}


.dotStyle{
  transition: scale 100ms ease-in-out;
}

.dotStyle:hover{
  scale: 1.2;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}



.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.2rem;
  color: #880808;
  background: transparent;
  border: 0.14rem solid #880808;
  cursor: pointer;
  padding: .8rem 3rem;
}


.card-color{
  background-color: rgba(252, 83, 83, 0.3);
}

.image-box {
  position: relative;
  margin-bottom: 8rem;
  width: 100%;
}

.text-overlay {
  position: absolute;
  left: 50%;
  transform: translate(-70%, -50%);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: white;
  color: #880808;
  height: fit-content;
  overflow: auto;
}

@media (max-width: 700px) {
  .image-box {
    height: 40rem;
}

.text-overlay {
  width: 20rem;
  left: 70%;
  top: 30%
}
}

/* globals.css */

.footer {
  width: 100%;
}

.footer-cont {
  display: flex;
  width: 100%;
  border-top: 0.1rem solid rgba(252, 83, 83, 0.3);
  gap: 0.1rem;
}

.media{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  color: #880808;
}

.footer-cont1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  flex: 1;
}

.footer-cont1 p {
  font-size: 1rem;
  color: #1b0b0b;
}

.footer-cont2 {
  display: flex;
  gap: 3rem;
  flex: 2;
  padding: 32px;
  border-left: 0.1rem solid rgba(252, 83, 83, 0.3);
}

.footer-cont2 .box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.box h3 {
  color: #880808;
}

.box p {
  color: #880808;
}

.quick-link {
  color: #880808;
  text-decoration: none;
}

.icons {
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.icons:hover {
  animation: coolEffect 1s infinite;
}

@keyframes coolEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 771px) {
  .footer-cont {
    flex-direction: column;
    border-bottom: 0.1rem solid rgba(252, 83, 83, 0.3);
  }

  .footer-cont1 {
    border-bottom: 0.1rem solid rgba(252, 83, 83, 0.3);
  }

  .footer-cont2 {
    flex-direction: column;
    padding-left: 16px;
  }
  .footer-cont2 .box {
    flex-direction: row;
  }
}

@media (max-width: 441px) {
  .home {
    margin-top: 4rem;
  }
}


@media (max-width: 441px) {
  .home {
    margin-top: 4rem;
  }
}


.outro {
  width: 100%;
  height: 40rem;
}

.outro-cont {
  width: 100%;
  height: 100%;
}

.image-box {
  width: 100%;
  height: 40rem;
}

.image {
  width: 100%;
  height: 35rem;
}



.data-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: 5px;
  text-align: center;
  width: 80%; /* Set width to 100% for smaller screens */
  max-width: 38rem; /* Limit the maximum width for larger screens */
  height: fit-content;
  padding: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  z-index: 30
}

.filter-button {
  background-color: rgb(228, 224, 224);
  color: black;
  padding: 1rem;
  margin-left: 1rem;
  border: 1px solid rgb(44, 42, 42);
  border-radius: 5px;
  font-weight: bold;
  width: 150%; /* Make the button take the full width of the container */
  max-width: 8rem; /* Limit the maximum width for larger screens */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.data-results .data-item {
  padding: 0.3rem;
  padding-left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(54, 7, 7);
  justify-self: center;
  cursor: pointer;
}

.data-results .data-item:hover {
  background-color: rgba(187, 24, 24, 0.2);
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

