.services {
    margin-top: 7rem;
    margin-bottom: 8rem;    
  }
  
  .services .line {
    margin-bottom: 3rem;
  }
  
  .services .cards-container {
    margin: 2rem;
    margin-left: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    margin-top: 0rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-left: 4rem;
    color: #D22B2B;
    font-family: 'lato', sans-serif;
    font-weight: 700;
  }
  
  .services h3 {
    color: #D22B2B;
  }
  
  .services .head {
    font-size: 1.5rem;
    margin-left: 4rem;
    margin-top: 1rem;
    color: black;
  }
  
  .line {
    background-color: rgba(177, 45, 45, 0.3);
    width: 100%;
    height: 0.1rem;
  }
  
  .services .cards {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: rgba(252, 83, 83, 0.3);
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .cards h3{
    font-weight: 200;
  }
  
  .services .cards .link {
    color: #880808;
  }
  
  .services .cards:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 600px) {
    .services {
      margin-bottom: 1rem;
    }
  
    .services .cards-container {
        flex-direction: column;
        gap: 1.2rem;
        margin-left: 1.8rem;
        margin-top: 1.8rem;
    }
  
  
    .services .head {
      font-size: 1.2rem;
      margin-left: 2rem;
    }
    
  }